@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    var welcomes = (QuickType.Welcome[])ViewData["Welcome"];
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <table border="1" width="90%">
        <tr>
            <th>Greeting</th>
            <th>Instruction</th>
            
        </tr>
        @{
            foreach (QuickType.Welcome welcome in welcomes) { 
                <tr>
                    <td>@welcome.Data</td>
                    <td>@welcome.Data</td>
                    
                </tr>
            }
        }

    </table>
</div>
