
@page
@model IndexModel
@{
    ViewData["Title"] = "Kalsubai";
}




<html lang=en>


    <div align="center">
        <table border="1" align="center">
            <thead>
                <th>
                    HTML Document
                </th>
                <th>
                    XML Document
                </th>
            <th>
                Link to Github
            </th>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <a href="~/lib/Kalsubai.html">
                            Kalsubai
                        </a>
                    </td>
                    <td>
                        <a href="~/uservalid.xml">
                            Shortcuts
                        </a>
                    </td>
                    <td>
                        <a href="https://github.com/tarisu8082/IS7024/tree/master/XML_Individual_Assignment">Github </a>
                    </td>
                </tr>
            </tbody>

        </table>
   </div>
</html>
