@page
@model FinalXmL.Pages.ChicagoCafesModel
@{
    ViewData["Title"] = "ChicagoCafes";
    var ListofCafes = (Cafe.ChicagoCafe[])ViewData["allCafes"];
}


<style>
    body {
        background-image: url("ChicagoCafes.jpg");
        background-repeat: round;
        background-attachment: fixed;
    }
</style>


<div class="text-center">
    <h1 class="hdr-text"><font color="black" size="10">Chicago SideWalk Cafe Owners</font></h1>

    <br />
    <table class="bg-text" align="center" border="1">
        <thead bgcolor="grey">
            <tr>
                <th>Cafe Name</th>
                <th>Street Name</th>
                <th>Zip Code</th>
                <th>Permit Number</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (Cafe.ChicagoCafe chicago in ListofCafes)
                {
                <tr>
                    <td>@chicago.LegalName</td>
                    <td>@chicago.Street</td>
                    <td>@chicago.ZipCode</td>
                    <td>@chicago.PermitNumber</td>
                </tr>
                }
            }
        </tbody>
    </table>
</div>