@page
@model FinalXmL.Pages.ChicagoCafesModel
@{
    ViewData["Title"] = "ChicagoCafes";
    var abcd = (Cafe.ChicagoCafe[])ViewData["allCafes"];
}

<h1><font color="Gold" size="10"><strong>ChicagoCafes</strong></font></h1>

<style>
    body {
        background-image: url("https://wallpaperaccess.com/full/392036.jpg");
        background-repeat: round;
        background-attachment: fixed;
    }
</style>


<div class="text-center">
    <h1 class="hdr-text"><font color="Gold" size="10">Chicago SideWalk Cafe Owners</font></h1>

    <br />
    <table class="bg-text">
        <thead bgcolor="grey">
            <tr>
                <th>Cafe Name</th>
                <th>Street Name</th>
                <th>Zip Code</th>
                <th>Permit Number</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (Cafe.ChicagoCafe cff in abcd)
                {
                <tr>
                    <td>@cff.LegalName</td>
                    <td>@cff.Street</td>
                    <td>@cff.ZipCode</td>
                    <td>@cff.PermitNumber</td>
                </tr>
                }
            }
        </tbody>
    </table>
</div>