@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<style>
    body {
        background-color: #f2f2f2;
    }
</style>

<div class="text-center">
    <h1 style="text-align:center;font-family:Times New Roman;">Muncipal Corporations around the world!</h1>
    <img src="https://assets3.thrillist.com/v1/image/2833651/size/gn-gift_guide_variable_c.jpg" height="250" width="600" />
    <br />
</div>