@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";

    List<MunicipalData.Geonamedata> geonamedata = (List<MunicipalData.Geonamedata>)ViewData["RequiredCountry"];
    CountryData.CountryCode countrydata = (CountryData.CountryCode)ViewData["Country"];

    <style>
        body {
            background-image: url("http://www.cursaintercol.cat/upload/o/11/111207_black-and-white-aesthetic-background.jpg");
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
    </style>
    <div class="text-center">
        <head>
            <title>Country Dictionary</title>
            <link rel="stylesheet" href="~/css/StyleSheet.css" type="text/css" />
        </head>

        <p><font color="White" size="20"><strong>Municipal Corporations around the World</strong></font></p>
    </div>
    <br />


    <p style="text-align:center"><font color="White" size="6">A municipal corporation is a term used by the local government. An incorporated town is able to create its own laws. These laws are in addition to the laws of the country, province, or state where the town is located.</font></p>
    <br />
    <p style="text-align:center"><font color="yellow" size="6">For example, the Municipal Corporation in Chennai, India is the oldest outside the UK</font></p>
    <br />
    <p style="text-align:center"><font color="white" size="6">Under the enterprise meaning of the term, municipal corporations are "organisations with independent corporate status, managed by an executive board appointed primarily by local government officials, and with majority public ownership".</font></p>
}
