@page
@model PrivacyModel

<h1>@ViewData["Title"]</h1>
<style>
    body {
        background-image: url("https://wallpaperaccess.com/full/392036.jpg");
        background-repeat: round;
        background-attachment: fixed;
    }
</style>